In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sqlalchemy import create_engine

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [18]:
# Create an engine instance
engine = create_engine('postgresql://postgres:postgres@localhost:5432/census_income_db')

# Load the data from the PostgreSQL table into a pandas DataFrame
df = pd.read_sql_table('census', engine)

In [19]:
# Show Top 5 Records
df.head()

,age,workclass,fnlwgt,education,educational_grade,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_worked_per_week,native_country,annual_income,censusid
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,1
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,2
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,3
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,4
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K,5

In [20]:
# Shape dataset
df.shape

(45222, 16)

In [21]:
# Check missing values
df.isna().sum()

age                      0
workclass                0
fnlwgt                   0
education                0
educational_grade        0
marital_status           0
occupation               0
relationship             0
race                     0
gender                   0
capital_gain             0
capital_loss             0
hours_worked_per_week    0
native_country           0
annual_income            0
censusid                 0
dtype: int64

In [22]:
# Check for duplicates
df.duplicated().sum()

0

In [23]:
# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    45222 non-null  int64
 1   workclass              45222 non-null  object
 2   fnlwgt                 45222 non-null  int64
 3   education              45222 non-null  object
 4   educational_grade      45222 non-null  int64
 5   marital_status         45222 non-null  object
 6   occupation             45222 non-null  object
 7   relationship           45222 non-null  object
 8   race                   45222 non-null  object
 9   gender                 45222 non-null  object
 10  capital_gain           45222 non-null  int64
 11  capital_loss           45222 non-null  int64
 12  hours_worked_per_week  45222 non-null  int64
 13  native_country         45222 non-null  object
 14  annual_income          45222 non-null  object
 15  censusid               45222 non-null  int64
dtypes: int64(7), object(9)
memory usage: 5.5+ MB

In [24]:
# Check Statistics
print(df.describe())

                age        fnlwgt  educational_grade  capital_gain  \
count  45222.000000  4.522200e+04       45222.000000  45222.000000
mean      38.547941  1.897347e+05          10.118460   1101.430344
std       13.217870  1.056392e+05           2.552881   7506.430084
min       17.000000  1.349200e+04           1.000000      0.000000
25%       28.000000  1.173882e+05           9.000000      0.000000
50%       37.000000  1.783160e+05          10.000000      0.000000
75%       47.000000  2.379260e+05          13.000000      0.000000
max       90.000000  1.490400e+06          16.000000  99999.000000

       capital_loss  hours_worked_per_week      censusid
count  45222.000000           45222.000000  45222.000000
mean      88.595418              40.938017  22611.500000
std      404.956092              12.007508  13054.611273
min        0.000000               1.000000      1.000000
25%        0.000000              40.000000  11306.250000
50%        0.000000              40.000000  22611.500000
75%        0.000000              45.000000  33916.750000
max     4356.000000              99.000000  45222.000000

In [25]:
# Check for unique values
df.nunique()

age                         74
workclass                    7
fnlwgt                   26741
education                   16
educational_grade           16
marital_status               7
occupation                  14
relationship                 6
race                         5
gender                       2
capital_gain               121
capital_loss                97
hours_worked_per_week       96
native_country              41
annual_income                2
censusid                 45222
dtype: int64

In [26]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('{} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\n{} categorical features : {}'.format(len(categorical_features), categorical_features))

7 numerical features : ['age', 'fnlwgt', 'educational_grade', 'capital_gain', 'capital_loss', 'hours_worked_per_week', 'censusid']

9 categorical features : ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'gender', 'native_country', 'annual_income']

In [27]:
# Drop the non-beneficial ID columns
df = df.drop(columns=['capital_gain', 'capital_loss', 'censusid', 'fnlwgt','educational_grade', 'relationship'])
df.head()

,age,workclass,education,marital_status,occupation,race,gender,hours_worked_per_week,native_country,annual_income
0,25,Private,11th,Never-married,Machine-op-inspct,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,White,Male,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Black,Male,40,United-States,>50K
4,34,Private,10th,Never-married,Other-service,White,Male,30,United-States,<=50K

In [28]:
# Category variables
print("Categories in 'age' variable:     ",end=" " )
print(df['age'].unique())

print("Categories in 'workclass' variable:     ",end=" " )
print(df['workclass'].unique())

print("Categories in'education' variable:",end=" " )
print(df['education'].unique())

print("Categories in'marital_status' variable:",end=" " )
print(df['marital_status'].unique())

print("Categories in'occupation' variable:",end=" " )
print(df['occupation'].unique())

print("Categories in 'race' variable:  ",end=" ")
print(df['race'].unique())

print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'hours_worked_per_week' variable:  ",end=" ")
print(df['hours_worked_per_week'].unique())

print("Categories in'native_country' variable:",end=" " )
print(df['native_country'].unique())

print("Categories in 'annual_income' variable:     ",end=" " )
print(df['annual_income'].unique())

Categories in 'age' variable:      [25 38 28 44 34 63 24 55 65 36 26 48 43 20 37 45 22 23 54 32 46 56 17 29
 39 52 18 21 42 33 30 47 41 19 69 50 31 59 49 58 40 27 57 61 51 73 53 80
 62 35 72 64 68 66 60 67 71 70 90 77 81 74 78 82 75 85 76 89 83 79 88 87
 84 86]
Categories in 'workclass' variable:      ['Private' 'Local-gov' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay']
Categories in'education' variable: ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' '5th-6th' 'Assoc-voc' '9th' 'Doctorate'
 '12th' '1st-4th' 'Preschool']
Categories in'marital_status' variable: ['Never-married' 'Married-civ-spouse' 'Widowed' 'Separated' 'Divorced'
 'Married-spouse-absent' 'Married-AF-spouse']
Categories in'occupation' variable: ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' 'Other-service'
 'Prof-specialty' 'Craft-repair' 'Adm-clerical' 'Exec-managerial'
 'Tech-support' 'Sales' 'Priv-house-serv' 'Transport-moving'
 'Handlers-cleaners' 'Armed-Forces']
Categories in 'race' variable:   ['Black' 'White' 'Other' 'Amer-Indian-Eskimo' 'Asian-Pac-Islander']
Categories in 'gender' variable:      ['Male' 'Female']
Categories in 'hours_worked_per_week' variable:   [40 50 30 32 10 39 48 25 20 47 35 43 90 54 60 38 45 36 18 24 44 56 28 16
 41 22 55 14 33 37 12 70 15 75 52 84 42 80  8 68 99 65 17 72 53 96 21 46
  3  1 49 67 76 23  2 58 26 34  4  7 51 78 63  5 31 92 77 27 29 85  6 13
 19 98 62 66 57 86 11 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]
Categories in'native_country' variable: ['United-States' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
Categories in 'annual_income' variable:      ['<=50K' '>50K']

In [33]:
# Convert all column names to strings
df.columns = df.columns.astype(str)

# Define your features and target
X = df.drop(columns=['annual_income'])
y = df['annual_income']

df.head()

,age,workclass,education,marital_status,occupation,race,gender,hours_worked_per_week,native_country,annual_income
0,25,Private,11th,Never-married,Machine-op-inspct,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,White,Male,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Black,Male,40,United-States,>50K
4,34,Private,10th,Never-married,Other-service,White,Male,30,United-States,<=50K

In [34]:
# Define the preprocessing for numerical and categorical features
numeric_features = ['age', 'hours_worked_per_week']
categorical_features = ['workclass', 'education', 'marital_status', 'occupation', 'race', 'gender', 'native_country']

In [35]:
# Preprocessing pipelines
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('encoder', OneHotEncoder(handle_unknown='ignore'))])

# Combine preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

In [36]:
# Fit and transform the data
X_processed = preprocessor.fit_transform(X)

# Display the preprocessed data
print(X_processed)

  (0, 0)	-1.0249829086819096
  (0, 1)	-0.07812006020556649
  (0, 4)	1.0
  (0, 10)	1.0
  (0, 29)	1.0
  (0, 38)	1.0
  (0, 48)	1.0
  (0, 52)	1.0
  (0, 91)	1.0
  (1, 0)	-0.04145503904128529
  (1, 1)	0.7547014024918423
  (1, 4)	1.0
  (1, 20)	1.0
  (1, 27)	1.0
  (1, 36)	1.0
  (1, 50)	1.0
  (1, 52)	1.0
  (1, 91)	1.0
  (2, 0)	-0.7980149387648424
  (2, 1)	-0.07812006020556649
  (2, 3)	1.0
  (2, 16)	1.0
  (2, 27)	1.0
  (2, 42)	1.0
  (2, 50)	1.0
  :	:
  (45219, 4)	1.0
  (45219, 20)	1.0
  (45219, 31)	1.0
  (45219, 32)	1.0
  (45219, 50)	1.0
  (45219, 51)	1.0
  (45219, 91)	1.0
  (45220, 0)	-1.2519508785989766
  (45220, 1)	-1.743762985600384
  (45220, 4)	1.0
  (45220, 20)	1.0
  (45220, 29)	1.0
  (45220, 32)	1.0
  (45220, 50)	1.0
  (45220, 52)	1.0
  (45220, 91)	1.0
  (45221, 0)	1.0177288205716946
  (45221, 1)	-0.07812006020556649
  (45221, 5)	1.0
  (45221, 20)	1.0
  (45221, 27)	1.0
  (45221, 35)	1.0
  (45221, 50)	1.0
  (45221, 51)	1.0
  (45221, 91)	1.0

In [37]:
# Encode the target variable if it is not numeric
label_encoder = LabelEncoder()
y_processed = label_encoder.fit_transform(y)

# Display the preprocessed data
print(y_processed)

[0 0 1 ... 0 0 1]

In [39]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_processed, y_processed, test_size=0.2, random_state=42)

print("Training set size:", X_train.shape)
print("Testing set size:", X_test.shape)

Training set size: (36177, 94)
Testing set size: (9045, 94)

In [45]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in c:\users\jessi\anaconda3\envs\dev\lib\site-packages (1.4.7)
Requirement already satisfied: keras in c:\users\jessi\anaconda3\envs\dev\lib\site-packages (from keras-tuner) (2.15.0)
Requirement already satisfied: packaging in c:\users\jessi\anaconda3\envs\dev\lib\site-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in c:\users\jessi\anaconda3\envs\dev\lib\site-packages (from keras-tuner) (2.31.0)
Requirement already satisfied: kt-legacy in c:\users\jessi\anaconda3\envs\dev\lib\site-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jessi\anaconda3\envs\dev\lib\site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jessi\anaconda3\envs\dev\lib\site-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jessi\anaconda3\envs\dev\lib\site-packages (from requests->keras-tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jessi\anaconda3\envs\dev\lib\site-packages (from requests->keras-tuner) (2023.7.22)

WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\jessi\anaconda3\envs\dev\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\jessi\anaconda3\envs\dev\lib\site-packages)

In [50]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from keras_tuner import Hyperband
from sklearn.datasets import make_moons
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [51]:
# Define the model creation function
def create_model(hp):
    model = tf.keras.models.Sequential()
    model.add(tf.keras.layers.Input(shape=(X_train.shape[1],)))

    # Allow Keras Tuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])

    # Allow Keras Tuner to decide the number of neurons in the first layer
    model.add(tf.keras.layers.Dense(
        units=hp.Int('first_units', min_value=1, max_value=11, step=2),
        activation=activation
    ))

    # Allow Keras Tuner to decide the number of hidden layers and neurons in each hidden layer
    for i in range(hp.Int('num_layers', 1, 6)):
        model.add(tf.keras.layers.Dense(
            units=hp.Int('units_' + str(i), min_value=1, max_value=8, step=2),
            activation=activation
        ))

    # Output layer
    model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    model.compile(
        loss="binary_crossentropy",
        optimizer='adam',
        metrics=["accuracy"]
    )

    return model

In [52]:
# Initialize the Hyperband tuner
tuner = Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=10,
    hyperband_iterations=2,
    directory='source',
    project_name='model_trainer'
)

In [53]:
# Define EarlyStopping callback
early_stopping = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# Run the kerastuner search for best hyperparameters
tuner.search(X_train,y_train,epochs=10, validation_data=(X_test, y_test), callbacks=[early_stopping])

Trial 60 Complete [00h 00m 52s]
val_accuracy: 0.7996683120727539

Best val_accuracy So Far: 0.838584840297699
Total elapsed time: 00h 16m 14s

In [54]:
# Get top 4 model hyperparameters and print the values
top_hyper = tuner.get_best_hyperparameters(4)
for param in top_hyper:
    print(param.values)

{'activation': 'tanh', 'first_units': 9, 'num_layers': 1, 'units_0': 3, 'units_1': 5, 'units_2': 1, 'units_3': 1, 'units_4': 5, 'units_5': 5, 'tuner/epochs': 10, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 7, 'num_layers': 4, 'units_0': 1, 'units_1': 5, 'units_2': 1, 'units_3': 7, 'units_4': 1, 'units_5': 5, 'tuner/epochs': 10, 'tuner/initial_epoch': 4, 'tuner/bracket': 2, 'tuner/round': 2, 'tuner/trial_id': '0015'}
{'activation': 'tanh', 'first_units': 9, 'num_layers': 2, 'units_0': 1, 'units_1': 7, 'units_2': 3, 'units_3': 3, 'units_4': 5, 'units_5': 3, 'tuner/epochs': 10, 'tuner/initial_epoch': 4, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0021'}
{'activation': 'tanh', 'first_units': 5, 'num_layers': 3, 'units_0': 3, 'units_1': 1, 'units_2': 3, 'units_3': 7, 'units_4': 3, 'units_5': 3, 'tuner/epochs': 4, 'tuner/initial_epoch': 0, 'tuner/bracket': 1, 'tuner/round': 0}

In [55]:
# Get the best hyperparameters for the top 4 models
best_hps = tuner.get_best_hyperparameters(num_trials=4)

# Rebuild and evaluate the top 3 models
for i, hps in enumerate(best_hps):
    print(f"Evaluating model {i + 1}")
    
    # Build the model using the best hyperparameters
    model = tuner.hypermodel.build(hps)
    
    # Train the model
    history = model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test), callbacks=[early_stopping])
    
    # Evaluate the model against the test data
    model_loss, model_accuracy = model.evaluate(X_test, y_test, verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}\n")

Evaluating model 1
Epoch 1/10
1131/1131 [==============================] - 5s 3ms/step - loss: 0.4056 - accuracy: 0.8073 - val_loss: 0.3613 - val_accuracy: 0.8328
Epoch 2/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3614 - accuracy: 0.8315 - val_loss: 0.3547 - val_accuracy: 0.8338
Epoch 3/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3569 - accuracy: 0.8321 - val_loss: 0.3516 - val_accuracy: 0.8333
Epoch 4/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3537 - accuracy: 0.8350 - val_loss: 0.3504 - val_accuracy: 0.8326
Epoch 5/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3514 - accuracy: 0.8355 - val_loss: 0.3489 - val_accuracy: 0.8352
Epoch 6/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3496 - accuracy: 0.8371 - val_loss: 0.3462 - val_accuracy: 0.8366
Epoch 7/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3482 - accuracy: 0.8379 - val_loss: 0.3455 - val_accuracy: 0.8353
Epoch 8/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3466 - accuracy: 0.8372 - val_loss: 0.3456 - val_accuracy: 0.8371
Epoch 9/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3460 - accuracy: 0.8390 - val_loss: 0.3457 - val_accuracy: 0.8358
Epoch 10/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3452 - accuracy: 0.8386 - val_loss: 0.3444 - val_accuracy: 0.8375
283/283 - 0s - loss: 0.3444 - accuracy: 0.8375 - 473ms/epoch - 2ms/step
Loss: 0.34436941146850586, Accuracy: 0.837479293346405

Evaluating model 2
Epoch 1/10
1131/1131 [==============================] - 5s 3ms/step - loss: 0.6134 - accuracy: 0.7515 - val_loss: 0.5693 - val_accuracy: 0.7548
Epoch 2/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.5641 - accuracy: 0.7515 - val_loss: 0.5576 - val_accuracy: 0.7548
Epoch 3/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.5608 - accuracy: 0.7515 - val_loss: 0.5571 - val_accuracy: 0.7548
Epoch 4/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.5607 - accuracy: 0.7515 - val_loss: 0.5571 - val_accuracy: 0.7548
Epoch 5/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.5607 - accuracy: 0.7515 - val_loss: 0.5570 - val_accuracy: 0.7548
Epoch 6/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.5607 - accuracy: 0.7515 - val_loss: 0.5570 - val_accuracy: 0.7548
Epoch 7/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.5607 - accuracy: 0.7515 - val_loss: 0.5570 - val_accuracy: 0.7548
Epoch 8/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.5607 - accuracy: 0.7515 - val_loss: 0.5571 - val_accuracy: 0.7548
Epoch 9/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.5607 - accuracy: 0.7515 - val_loss: 0.5570 - val_accuracy: 0.7548
Epoch 10/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.5607 - accuracy: 0.7515 - val_loss: 0.5570 - val_accuracy: 0.7548
283/283 - 0s - loss: 0.5570 - accuracy: 0.7548 - 434ms/epoch - 2ms/step
Loss: 0.5570397973060608, Accuracy: 0.7547816634178162

Evaluating model 3
Epoch 1/10
1131/1131 [==============================] - 5s 3ms/step - loss: 0.4034 - accuracy: 0.8133 - val_loss: 0.3621 - val_accuracy: 0.8327
Epoch 2/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3639 - accuracy: 0.8310 - val_loss: 0.3687 - val_accuracy: 0.8281
Epoch 3/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3599 - accuracy: 0.8311 - val_loss: 0.3549 - val_accuracy: 0.8346
Epoch 4/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3568 - accuracy: 0.8321 - val_loss: 0.3514 - val_accuracy: 0.8354
Epoch 5/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3552 - accuracy: 0.8347 - val_loss: 0.3499 - val_accuracy: 0.8366
Epoch 6/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3531 - accuracy: 0.8336 - val_loss: 0.3485 - val_accuracy: 0.8357
Epoch 7/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3519 - accuracy: 0.8361 - val_loss: 0.3475 - val_accuracy: 0.8357
Epoch 8/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3509 - accuracy: 0.8360 - val_loss: 0.3473 - val_accuracy: 0.8381
Epoch 9/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3493 - accuracy: 0.8362 - val_loss: 0.3471 - val_accuracy: 0.8357
Epoch 10/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3483 - accuracy: 0.8371 - val_loss: 0.3476 - val_accuracy: 0.8337
283/283 - 0s - loss: 0.3476 - accuracy: 0.8337 - 488ms/epoch - 2ms/step
Loss: 0.34764838218688965, Accuracy: 0.8337202668190002

Evaluating model 4
Epoch 1/10
1131/1131 [==============================] - 5s 3ms/step - loss: 0.4288 - accuracy: 0.8048 - val_loss: 0.3724 - val_accuracy: 0.8334
Epoch 2/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3705 - accuracy: 0.8284 - val_loss: 0.3652 - val_accuracy: 0.8264
Epoch 3/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3632 - accuracy: 0.8295 - val_loss: 0.3569 - val_accuracy: 0.8318
Epoch 4/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3589 - accuracy: 0.8330 - val_loss: 0.3536 - val_accuracy: 0.8355
Epoch 5/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3564 - accuracy: 0.8325 - val_loss: 0.3534 - val_accuracy: 0.8342
Epoch 6/10
1131/1131 [==============================] - 4s 3ms/step - loss: 0.3543 - accuracy: 0.8337 - val_loss: 0.3504 - val_accuracy: 0.8354
Epoch 7/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3532 - accuracy: 0.8345 - val_loss: 0.3518 - val_accuracy: 0.8343
Epoch 8/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3523 - accuracy: 0.8335 - val_loss: 0.3491 - val_accuracy: 0.8356
Epoch 9/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3513 - accuracy: 0.8354 - val_loss: 0.3499 - val_accuracy: 0.8360
Epoch 10/10
1131/1131 [==============================] - 3s 3ms/step - loss: 0.3505 - accuracy: 0.8343 - val_loss: 0.3490 - val_accuracy: 0.8363
283/283 - 0s - loss: 0.3490 - accuracy: 0.8363 - 404ms/epoch - 1ms/step
Loss: 0.34899890422821045, Accuracy: 0.836263120174408

In [56]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 9,
 'num_layers': 1,
 'units_0': 3,
 'units_1': 5,
 'units_2': 1,
 'units_3': 1,
 'units_4': 5,
 'units_5': 5,
 'tuner/epochs': 10,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [57]:
# Evaluate best model against full test data
best_model = tuner.hypermodel.build(best_hyper)

# Train the best model (if needed, already done during search but retraining can sometimes be necessary)
history = best_model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

# Evaluate the best model against the test data
model_loss, model_accuracy = best_model.evaluate(X_test, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/10
1131/1131 [==============================] - 4s 2ms/step - loss: 0.3958 - accuracy: 0.8144 - val_loss: 0.3609 - val_accuracy: 0.8336
Epoch 2/10
1131/1131 [==============================] - 3s 2ms/step - loss: 0.3615 - accuracy: 0.8303 - val_loss: 0.3546 - val_accuracy: 0.8364
Epoch 3/10
1131/1131 [==============================] - 3s 2ms/step - loss: 0.3567 - accuracy: 0.8334 - val_loss: 0.3519 - val_accuracy: 0.8345
Epoch 4/10
1131/1131 [==============================] - 3s 2ms/step - loss: 0.3534 - accuracy: 0.8354 - val_loss: 0.3499 - val_accuracy: 0.8389
Epoch 5/10
1131/1131 [==============================] - 3s 2ms/step - loss: 0.3512 - accuracy: 0.8356 - val_loss: 0.3508 - val_accuracy: 0.8323
Epoch 6/10
1131/1131 [==============================] - 3s 2ms/step - loss: 0.3494 - accuracy: 0.8360 - val_loss: 0.3470 - val_accuracy: 0.8367
Epoch 7/10
1131/1131 [==============================] - 3s 2ms/step - loss: 0.3477 - accuracy: 0.8374 - val_loss: 0.3455 - val_accuracy: 0.8369
Epoch 8/10
1131/1131 [==============================] - 3s 2ms/step - loss: 0.3467 - accuracy: 0.8375 - val_loss: 0.3452 - val_accuracy: 0.8370
Epoch 9/10
1131/1131 [==============================] - 3s 2ms/step - loss: 0.3459 - accuracy: 0.8392 - val_loss: 0.3441 - val_accuracy: 0.8373
Epoch 10/10
1131/1131 [==============================] - 3s 2ms/step - loss: 0.3449 - accuracy: 0.8390 - val_loss: 0.3455 - val_accuracy: 0.8360
283/283 - 0s - loss: 0.3455 - accuracy: 0.8360 - 385ms/epoch - 1ms/step
Loss: 0.345544695854187, Accuracy: 0.8360419869422913

In [58]:
# Split our preprocessed data into our features and target arrays
X, y = make_moons(n_samples=1000, noise=0.08, random_state=78)
y = y.reshape(-1, 1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [59]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [60]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  12
hidden_nodes_layer2 = 3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=12, activation="tanh", input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_29 (Dense)            (None, 12)                36

 dense_30 (Dense)            (None, 12)                156

 dense_31 (Dense)            (None, 3)                 39

 dense_32 (Dense)            (None, 1)                 4

=================================================================
Total params: 235 (940.00 Byte)
Trainable params: 235 (940.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [61]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [62]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
24/24 [==============================] - 1s 2ms/step - loss: 0.7479 - accuracy: 0.4133
Epoch 2/10
24/24 [==============================] - 0s 2ms/step - loss: 0.6110 - accuracy: 0.7467
Epoch 3/10
24/24 [==============================] - 0s 2ms/step - loss: 0.5209 - accuracy: 0.8653
Epoch 4/10
24/24 [==============================] - 0s 2ms/step - loss: 0.4385 - accuracy: 0.8627
Epoch 5/10
24/24 [==============================] - 0s 2ms/step - loss: 0.3778 - accuracy: 0.8653
Epoch 6/10
24/24 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8693
Epoch 7/10
24/24 [==============================] - 0s 2ms/step - loss: 0.3097 - accuracy: 0.8813
Epoch 8/10
24/24 [==============================] - 0s 2ms/step - loss: 0.2908 - accuracy: 0.8907
Epoch 9/10
24/24 [==============================] - 0s 2ms/step - loss: 0.2778 - accuracy: 0.8960
Epoch 10/10
24/24 [==============================] - 0s 2ms/step - loss: 0.2687 - accuracy: 0.8933

In [63]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 0.3515 - accuracy: 0.8480 - 125ms/epoch - 16ms/step
Loss: 0.3514663875102997, Accuracy: 0.8479999899864197

In [64]:
import numpy as np
# Generate dummy data
X = np.random.rand(1000, 10)
y = np.random.randint(2, size=(1000, 1))

In [65]:
# Define the model
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(32, activation='relu', input_shape=(10,)),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X, y, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10
25/25 [==============================] - 1s 10ms/step - loss: 0.7015 - accuracy: 0.4812 - val_loss: 0.6928 - val_accuracy: 0.4950
Epoch 2/10
25/25 [==============================] - 0s 4ms/step - loss: 0.6932 - accuracy: 0.4963 - val_loss: 0.6947 - val_accuracy: 0.4800
Epoch 3/10
25/25 [==============================] - 0s 4ms/step - loss: 0.6897 - accuracy: 0.5400 - val_loss: 0.6955 - val_accuracy: 0.5000
Epoch 4/10
25/25 [==============================] - 0s 4ms/step - loss: 0.6883 - accuracy: 0.5487 - val_loss: 0.6951 - val_accuracy: 0.4950
Epoch 5/10
25/25 [==============================] - 0s 4ms/step - loss: 0.6875 - accuracy: 0.5512 - val_loss: 0.6959 - val_accuracy: 0.5050
Epoch 6/10
25/25 [==============================] - 0s 4ms/step - loss: 0.6866 - accuracy: 0.5512 - val_loss: 0.6960 - val_accuracy: 0.5050
Epoch 7/10
25/25 [==============================] - 0s 4ms/step - loss: 0.6857 - accuracy: 0.5625 - val_loss: 0.6965 - val_accuracy: 0.5100
Epoch 8/10
25/25 [==============================] - 0s 4ms/step - loss: 0.6848 - accuracy: 0.5650 - val_loss: 0.6964 - val_accuracy: 0.5100
Epoch 9/10
25/25 [==============================] - 0s 4ms/step - loss: 0.6841 - accuracy: 0.5800 - val_loss: 0.6962 - val_accuracy: 0.5000
Epoch 10/10
25/25 [==============================] - 0s 4ms/step - loss: 0.6832 - accuracy: 0.5650 - val_loss: 0.6979 - val_accuracy: 0.5000